/**/
body {
	margin: 0px;
	background-color: #FFFFFF;
}

td {
	font-size: 12px;
}

/*/body*/
.zt-body {
	background-color: #FFFFFF;
	padding: 0px 0px 0px 2px;
	filter: #FF9C00;
}

/*/*/
.search-bg {
	background-attachment: fixed;
	background-image: url(../biimages/zt/zt-bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.td-imgbg {
	background-attachment: fixed;
	background-image: url(../biimages/zt/img_tdbg.gif);
	background-repeat: no-repeat;
	background-position: left;
	height: 24px;
	width: 478px;
	vertical-align: middle;
	padding-left: 12px;
}

/*/*/
.title-bg {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #93A2C0;
	padding-right: 5px;
	padding-top: 3px;
	white-space: nowrap
}

.title-bg-change {
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1 StartColorStr=#DAEAF3, EndColorStr=#ffffff);
}

.tab-firstcolor {
	line-height: 2px;
	background-color: #97B3DA;
}

.tab-endcolor {
	line-height: 1px;
	background-color: #97B3DA;
	border-top-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 1px;
}

.tab-title-tr {
	background-color: #DCE3F3;
}

.tab-title-td {
	color: #333333;
	padding: 2px;
	background-attachment: fixed;
	background-image: url(../biimages/zt/title_endline.gif);
	background-repeat: no-repeat;
	background-position: right;
	border-bottom-color: #97B3DA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	height: 23px;
}

.tab-tr-dark {
	background-color: #EFEBF0;
}

.tab-tr-dark-over {
	background-color: #FFEEC2;
}

.tab-tr-light {
	background-color: #ffffff;
}

.tab-tr-light-over {
	background-color: #FFEEC2;
}

.tab-tr-end {
	background-color: #FFF7C2
}

.tab-tr-add {
	background-color: #DCE3F3
}

.tab-td-high {
	height: 22px;
	padding-right: 1px;
	padding-left: 5px;
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 1px;
	border-left-color: #E0E0E0;
	border-left-style: solid;
	border-left-width: 1px;
	border-bottom-color: #E0E0E0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #666666
}

.tab-td-first {
	height: 22px;
	padding-right: 1px;
	padding-left: 5px;
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 1px;
	border-bottom-color: #E0E0E0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #0F4F90;
}

/*/*/
.head-bg {
	background-attachment: fixed;
	background-image: url(../biimages/zt/head_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 26px;
}

.tab-head-bg {
	background-attachment: fixed;
	background-image: url(../biimages/zt/tab_head_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 26px;
}

/*/*/
.button-move {
	background-image: url(../biimages/zt/button_move.gif);
	text-align: center;
	margin: 0px;
	padding: 3px 0px 0px;
	height: 21px;
	width: 68px;
	border: none;
	background-color: transparent;
	font-size: 12px;
	word-spacing: 2px;
	margin-bottom: 2px;
}

.button-move-over {
	background-image: url(../biimages/zt/button_move_over.gif);
	text-align: center;
	margin: 0px;
	padding: 3px 0px 0px;
	height: 21px;
	width: 68px;
	border: none;
	background-color: transparent;
	font-size: 12px;
	color: #CB0000;
	margin-bottom: 2px;
}

/*/*/
.tree-area {
	border: 1px dotted #8596CA;
	background-color: #EDF7FF;
}

.tree-title {
	font-weight: bold;
	line-height: 23px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #6DB3C2;
	color: #ffffff;
}

.tree-content {
	padding-left: 5px;
	padding-top: 5px;
	border-top-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 1px;
	filter: progid : DXImageTransform . Microsoft .
		Gradient(GradientType = 0 StartColorStr = #CEE7F4, EndColorStr = #E3F4FC
		);
}

/**/
.tab-button-on {
	background-image: url(../biimages/zt/tab_bg_on.gif);
	vertical-align: bottom;
	FONT-SIZE: 13px;
	line-height: 22px;
	padding-left: 5px;
	padding-right: 5px;
	COLOR: #9F4700;
}

.tab-button-off {
	background-image: url(../biimages/zt/tab_bg_off.gif);
	vertical-align: bottom;
	line-height: 22px;
	padding-left: 5px;
	padding-right: 5px;
	COLOR: #666666;
}

.tab-button-off-over {
	background-image: url(../biimages/zt/tab_bg_off.gif);
	vertical-align: bottom;
	line-height: 22px;
	padding-left: 5px;
	padding-right: 5px;
	COLOR: #666666;
}

.tab-button-on-link {
	COLOR: #9F4700;
	FONT-SIZE: 13px;
	TEXT-DECORATION: none;
}

A.tab-button-on-link:link {
	COLOR: #9F4700;
	FONT-SIZE: 13px;
	TEXT-DECORATION: none;
}

A.tab-button-on-link:visited {
	COLOR: #9F4700;
	FONT-SIZE: 13px;
	TEXT-DECORATION: none;
}

A.tab-button-on-link:active {
	COLOR: #FF0000;
	FONT-SIZE: 13px;
	TEXT-DECORATION: none;
}

A.tab-button-on-link:hover {
	COLOR: #FF0000;
	FONT-SIZE: 13px;
	TEXT-DECORATION: none;
}

.tab-button-off-link {
	COLOR: #666666;
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
}

A.tab-button-off-link:link {
	COLOR: #666666;
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
}

A.tab-button-off-link:visited {
	COLOR: #666666;
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
}

A.tab-button-off-link:active {
	COLOR: #FF0000;
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
}

A.tab-button-off-link:hover {
	COLOR: #FF0000;
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
}

/**/
.mainBox {
	border: 1px solid #666666;
	background-color: #F6F6F6;
	padding: 2px;
}

.nav {
	background-color: #316AC5;
	color: #FFFFFF;
}

.tabbg-blue {
	height: 20px;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 1px;
	filter: progid : DXImageTransform . Microsoft .
		Gradient(GradientType = 0 StartColorStr = #E7F3FF, EndColorStr = #AFD9F2
		);
}

.chart-font {
	font-size: 14px;
	color: #803685;
	text-align: center;
}

.chart-image {
	background-image: url(../biimages/zt/chart-image.gif);
	height: 9px;
}

.button-save {
	background-image: url(../biimages/zt/icon-save.gif);
	height: 20px;
	font-weight: bold;
	width: 60px;
	padding-top: 2px;
	border: none;
	background-color: transparent;
	font-size: 12px;
	color: #ffffff;
	cursor: hand;
}

.button-add {
	background-image: url(../biimages/zt/icon-add.gif);
	height: 20px;
	font-weight: bold;
	width: 60px;
	padding-top: 4px;
	border: none;
	background-color: transparent;
	font-size: 12px;
	color: #ffffff;
	cursor: hand;
}

.title-bigfont {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	letter-spacing: normal;
	color: #916C41;
	padding-top: 5px;
}

/*批量导出*/
.btn-fig {
	background-color: #FFFFC6;
	FONT-SIZE: 12px;
	BORDER-BOTTOM: 1px solid #6B694A;
	BORDER-RIGHT: 1px solid #9C9E7B;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: hand;
	white-space: nowrap
}

.btn-fig-on {
	background-color: #FFFF63;
	FONT-SIZE: 12px;
	COLOR: #FF0000;
	BORDER-top: 1px solid #9C9A63;
	BORDER-left: 1px solid #9C9A63;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: hand;
	white-space: nowrap
}

.btn-fig-unchecked {
	background-color: #FFF3F7;
	FONT-SIZE: 12px;
	BORDER-BOTTOM: 1px solid #6B694A;
	BORDER-RIGHT: 1px solid #9C9E7B;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: hand;
	white-space: nowrap
}


.educe-bg{
	height: 24px;
	width: 101px;
	FONT-SIZE: 12px;
	COLOR: #005F8C;
	font-weight: bold;
}